/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


html,body {
	position    : relative;
	overflow-x  : hidden;
	font-size   : 14px;
	font-family : 'Open Sans', sans-serif;
	margin      : 0;
	min-height  : 100%;
}


/*Common Styles Begin*/

.hidden { opacity: 0 !important; pointer-events: none; }
.hide { display: none !important; }
.pull-left { float: left; }
.pull-right { float: left; }

.capitalized {text-transform: capitalize;}
.uppercased {text-transform: uppercase;}
.ellipsis {
	white-space   : nowrap;
	overflow      : hidden;
	text-overflow : ellipsis;
}

.clickable {
	cursor: pointer;
	cursor: hand;
}

.max-width-wrapper {
	max-width    : 1170px;
	margin-left  : auto;
	margin-right : auto;
}

/*Common Styles End*/








/* Header Styles Begin*/
header {
	height        : 80px;
	line-height   : 80px;
	background    : rgb(200,77,75);
	color         : #fff;
	text-align    : center;
}
header .main-text { margin: 0 auto; font-weight: 300; }
/* Header Styles End*/


/*#main-content { padding-top: 160px; }*/



/* Input Wrapper and Box Styles Begin*/
#input-wrapper {
	position  : relative;
	width     : 50%;
	min-width : 300px;
}

#input-wrapper >.fa-spin-stack { display: none; }
#input-wrapper >.fa-stack {
	position  : absolute;
	top       : 21px;
	right     : 7px;
	color     : rgb(200,77,75);
	font-size : 18px;

	-webkit-transition  : color 0.15s ease-in-out;
	-moz-transition : color 0.15s ease-in-out;
	-o-transition : color 0.15s ease-in-out;
	transition : color 0.15s ease-in-out;
}
#input-wrapper >.fa-stack >.fa-stack-1x { color: #fff; font-size : 14px;}

#input-wrapper.loading >.fa-stack { color: #dbdbdb; }
#input-wrapper.loading >.fa-search-stack { display: none; }
#input-wrapper.loading >.fa-spin-stack { display: inline-block; }


#search-input {
	border        : 2px solid rgb(200,77,75);
	border-radius : 20px;
	height        : 45px;
	line-height   : 45px;
	color         : #333;
	outline       : none;
	padding       : 0 38px 0 16px;
	width         : 100%;

	-webkit-transition : border-color 0.15s ease-in-out;
	-moz-transition : border-color 0.15s ease-in-out;
	-o-transition : border-color 0.15s ease-in-out;
	transition : border-color 0.15s ease-in-out;
}
/*#search-input[disabled] { border-color : #dbdbdb; }*/
/* Input Wrapper and Box Styles Begin*/



/* Gallery Styles Begin*/

.app-gallery { 
	max-width : 1170px; 
	margin    : 40px auto; 
}
.gallery-row { margin-bottom: 10px; }
.gallery-image { 
	border-radius : 2px; 
	margin-right  : 10px; 
	display       : inline-block; 
}
.gallery-image:last-child { margin-right: 0; }

.gallery-detail-container {
	position      : relative;
	background    : #333;
	max-height    : 0;
	margin        : 10px 0;
	border-radius : 2px;
	text-align    : center;
	-webkit-transition : max-height 0.2s linear;
	-moz-transition : max-height 0.2s linear;
	-o-transition : max-height 0.2s linear;
	transition : max-height 0.2s linear;	
}

.gallery-detail-container.expanded { max-height: 1000px; }

.detail-image { 
	max-height    : 460px; 
	max-width     : 60%; 
	margin        : 10px 20px; 
	border-radius : 2px; 
}

.gallery-detail-container >.nav-icon {
	position  : absolute;
	top       : 50%;
	font-size : 48px;
	color     : #fff;
	-webkit-transform : translateY(-50%);
	-moz-transform : translateY(-50%);
	-o-transform : translateY(-50%);
	transform : translateY(-50%);	

}
.gallery-detail-container >.nav-icon.previous { left: 20px; }
.gallery-detail-container >.nav-icon.next { right: 20px; }
/* Gallery Styles End*/


